.preview.markdown-body {
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
  color: #abb2bf;
}

.preview.markdown-body pre {
    position: relative;
    margin-bottom: 3em !important;
    background-color: rgba(27, 31, 35, 0.45);
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 35px -23px 2px -16px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 35px -23px 2px -16px rgba(0, 0, 0, 0);
}

